.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    display:flex;
    align-items: center;
    gap:10px;
}
.nav-logo p{
    font-size: 38px;
    font-weight: 600;
    color: blue;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    color: rgb(7, 7, 7);
    font-weight: 500;
    font-size: large;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor:pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #fb0606;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    width: 157px;
    height: 50px;
    outline: none;
    border: 1px solid blue;
    border-radius: 75px;
    color: rgb(6, 6, 6);
    font-size: 20px;
    background-color: aliceblue;
    cursor: pointer;
}
.nav-login-cart button:active{
    background-color: blue;
    /* font-size: 30px; */
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -70px;
    border-radius: 14px;
    font-size: 14px;
    background: red;
    color: white;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255,255,255,0);
    backdrop-filter: blur(5px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
}
.sidebar li{
    padding: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor:pointer;
    margin-left: 20px;
}

.sidebar .nav-login button{
    width: 70px;
    padding: 5px;
    outline: none;
    border: 1px solid blue;
    border-radius: 10px;
    color: rgb(6, 6, 6);
    font-size: 20px;
    background-color: aliceblue;
    cursor: pointer;
}

.menu-icon img{
    cursor: pointer;
    width: 26px;
    height: 26px;
}
.cross-icon img{
    cursor: pointer;
    width: 26px;
    height: 26px;
}
.nav-menu .menu-icon{
    display: none;
}
@media(max-width:800px) {
    .nav-menu .hide{
        display: none;
    }
    .nav-menu .menu-icon{
        display: block;
    }
}
@media(max-width:500px){
    .sidebar{
        width: 100%;
    }
    .nav-logo{
        padding-top: 10px;
        height: 20px;
    }
    .nav-logo p{
        font-size: 28px;
        font-weight: 600;
        color: blue;
    }
}